<!doctype html>
<html lang="en">
<head>
    <title>Login | Moene's Secret Clipboard Guest Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/semantic.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1>Moene's Secret Clipboard</h1>
    <div>
        <h2>Login</h2>
        <div class="ui stackable center aligned page grid segment">
            <div class="column twelve wide ui header">Please login with</div>
            <a href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>"
                class="column six wide ui primary button"><span class="fa fa-github"></span> Github Login</a>
        </div>
    </div>
</body>

</html>