<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Message | Moene's Secret Clipboard</title>
    <link rel="stylesheet" href="/stylesheets/semantic.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="images/favicon/favicon.ico" />
</head>
<body>
    <h1>Moene's Secret Clipboard</h1>
    <h2 id="header2">Decrypt Message</h2>
    <div id="text">Here's a message shared to you from <span id="sender-name"></span></div>
    <form id="decrypt-form">
        <label>Input Password to View Message</label><br>
        <input type='text' id='password' required>
        <button id="viewMessage">view</button>
    </form>

    <div id="msgContent"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="client_viewer.js"></script>
</body>
</html>