<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Message | Moene's Secret Clipboard</title>
    <link rel="stylesheet" href="/stylesheets/semantic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/monokai.min.css" integrity="sha512-R6PH4vSzF2Yxjdvb2p2FA06yWul+U0PDDav4b/od/oXf9Iw37zl10plvwOXelrjV2Ai7Eo3vyHeyFUjhXdBCVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
    <section>
        <header>
            <img class="logo" src="/images/logo.png" alt="logo">
            <a href="/logout"><button><span class="fa fa-github"></span> Logout</button></a>
        </header>
    </section>10px
    <div id = 'container' class="container" style="margin-top: 5%;">
        <h2 style="font-size: larger;" id="header2">Decrypt Message</h2>
        <div id="text" style="line-height: 1.5;">Here's a message shared to you from <span id="sender-name">Loading...</span></div>
        <form id="decrypt-form" style="visibility: hidden;">
            <label>Input Password to View Message</label><br>
            <input type='text' id='password' required placeholder="Enter the password">
            <button id="viewMessage">view</button>
        </form>

        <div class="textarea-resized" style="padding-top: 1%;visibility: hidden;width:100%;" id="msg"><textarea id="msgContent"></textarea></div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js" integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="client_viewer.js"></script>
</body>

</html>